/* Medias querry */

@media (max-width: 800px) {
  #slider {
    height: 310px;
    max-width: 320px;
    margin: 20px;
    margin-left: 0;
  }
  #slides {
    height: 100%;
  }
  .slide {
    width: 320px;
    height: 100%;
  }
  .slide img {
    width: 320px;
  }
  .container-projetos {
    justify-content: center;
  }

  #navigation-manual {
    width: 320px;
    margin-top: 320px;
  }
}
@media (min-width: 1366px) {
  header {
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 850px) {
  #nav-list {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 4;
    background-color: var(--color01);
    border: 1px solid var(--color02);
    border-top: none;

    flex-direction: column;
    height: 300px;
    width: 30vw;
    min-width: 150px;
    justify-content: space-around;
    transform: translateX(104%);
    transition: transform 0.3s ease-in;
  }

  #nav-list li {
    opacity: 0;
  }

  #mobile-menu {
    display: flex;
  }

  #icone-menu {
    margin-left: 10vw;
  }
}
@media (max-width: 730px) {
  #container-habilidades {
    flex-direction: column;
    gap: 0;
  }
  .barra,
  .TituloCursos,
  #cursos,
  #conhecimentos {
    width: 100%;
    max-width: 100%;
  }
  #cursos,
  #conhecimentos {
    width: 100%;
    min-width: 240px;
  }
  #minha-imagem {
    width: 250px;
    height: 250px;
  }
    .concluido,
    #c10,
    #c70,
    #c30,
    #c50,
    #c90 {
      background-color: var(--color02);
      height: 5px;
    }
    h2 {
      font-size: 1.7em;
      margin: 10px 0;
    }
    
  }


@media (max-width: 680px) {
  #slider {
    margin: 20px;
    height: 310px;
    max-width: 460px;
    border: 2px solid var(--color03);
  }

  #slides {
    height: 100%;
    width: 500%;
    height: 310px;
    display: flex;
  }

  #slides input {
    display: none;
  }

  .slide {
    width: 460px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide img {
    width: 460px;
    height: 100%;
  }
  #navigation-manual {
    display: none;
  }
  .container-projetos {
    /* justify-content: space-between; */
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  #tela-4 {
    min-height: 710px;
    max-height: 710px;
    padding-bottom: 120px;
    padding-top: 70px;
  }
}
@media (max-width: 570px) {
  #tela-2 {
    padding-bottom: 20px;
  }
  #tela-3 {
    padding-top: 0;
  }
  .contatos-div {
    columns: 2;
  }
  .BoxIN {
    margin: 0;
  }
  .BoxIN2 {
    margin-top: 15px;
  }
  .color-mode-box {
    right: 10px;
  }
}

@media (max-width: 520px) {
  #slider {
    height: 310px;
    max-width: 320px;
    margin: 0px;
  }
  #slides {
    height: 100%;
  }
  .slide {
    width: 320px;
    height: 100%;
  }
  .slide img {
    width: 320px;
  }

  #navigation-manual {
    width: 320px;
    margin-top: 320px;
  }
}

@media (max-width: 450px) {
  #tela-2 {
    min-height: 700px;
  }
  #TextBox-1{
    padding-top: 10px;
  }
  
}
@media (max-width: 410px) {
  #slider {
    scale: 0.95;
  }
  #tela-1 p{
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 390px) {
  #slider {
    scale: 0.9;
  }
  
}
@media (max-width: 420px) {
  #btnDonload1 {
    display: none;
  }
  #btnDonload2 {
    display: block;
    margin: 0 auto;
    background-color: var(--color01);
    background-color: var(--color01);
  }
  #tela-2 {
    min-height: 770px;
  }
  #tela-3 {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  #mobile-menu {
    margin-right: 55px;
  }
}
@media (max-width: 360px) {
  
  section {
    width: calc(100vw - 40px);
  }
  #tela-4 {
    margin-top: 20px;
  }
  #tela-4 h2 {
    margin: 45px 0 10px 0;
  }
  .socialBox {
    padding: 10px 5px;
  }
  #tela-4 p {
    padding: 3px 0;
  }
  #tela-5 h2 {
    margin: 30px 0 20px 0;
  }
  #seta-para-baixo,
  #seta-para-cima {
    display: none;
  }
}
@media (max-width: 320px) {
  #tela-5 {
    margin-bottom: 50px;
  }
}
@media (max-width: 420px) {
  #seta-para-baixo {
    bottom: 3vh;
  }
}
@media (max-height: 620px) {
  #seta-para-baixo {
    display: none;
  }
}
@media (max-height: 655px) {
  #seta-para-cima {
    display: none;
  }
}
@media (max-height: 570px) {
  .socialBox {
    padding: 5px;
  }
}
