

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DotGothic16&display=swap');

:root{
  --color00: #828282;
  --color01: #2c2c2c;
  --color02: #fbae29;
  --color03: #ffb43b;
  --color04: #ffffff; 
  --color05: #434343;
  --color06: #ffaa20;
}

.light-mode:root{
  --color00: #828282;
  --color01: #fafafa;
  --color02: #ffa200;
  --color03: #ffb43b;
  --color04: #222; 
  --color05: #bdbdbd;
  --color06: #ee9505;
}
.color-mode-box{
  position: absolute;
  right: 30px;
  top: 65px;
  background-color: var(--color01);
  box-shadow: 0px 0px 1px var(--color00);
  padding: 1px 3px;
  border-radius: 15px;
  z-index: 4;
}
.color-mode-box label{
  position: relative;
}
.color-mode-box i{
  margin: 2.5px;
  z-index: 5;
  color: var(--color04);
  z-index: 100;
}

#ball{
  width: 20px;
  height: 20px;
  background-color:var(--color02);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform .3s;
 
}
.mudar{
  transform: translateX(-25px);
}
#toggle-color-mode{
  display: block;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: var(--color05);
}

::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: var(--color02);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:active{
  background-color: var(--color03);
}

@keyframes rotacao {
  
  from{
    transform:rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
  
}

@keyframes crescer {
  from{
    scale: 0.5;
  }
  to{
    scale: 1;
  }
}

@keyframes fade {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes navFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {
  0%, 100%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-5px);
  }
  75%{
    transform: translateY(5px);
  }
}

*{
  margin: 0;
  padding: 0;
}

body{
  scroll-behavior: smooth;
}

button{
  font-family: 'Chakra Petch', sans-serif;
}

body{
  background-color: var(--color01);
  font-family: 'Chakra Petch', sans-serif;
  color: var(--color04);
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
main{
  position: relative;
}

/* Barra de navegação */

header{
  padding: 0 4vw;
  height: 60px;
  width: 92vw;
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color01);

}

#nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5vw;
}

.nav-items{
  white-space: nowrap;
}

#inicio{
  color: var(--color02);
}
#x{
  display: none;
  font-size: 1.2em;
  color: var(--color02);
  position: absolute;
}
#sandwich{
  position: absolute;
  color: var(--color04);
}

.logo i{
  color: var(--color02);
  font-size: 1.2em;
  font-family: 'Roboto Condensed';
}

.nav-items, .logo{
  text-decoration: none;
  color: var(--color04);
  font-weight: 400;
  font-size: 1.1em;
}


#mobile-menu{
  color: var(--color01);
  cursor: pointer;
  display: none;
  font-size: 1.4em;
  align-items: center;
  justify-content: start;
  width: .7em;
  height: 1em;
  margin-right:10vw;
}

#nav-list.active{
  transform: translateX(0px);
}
#nav-list.active li{
  opacity: 1;
  animation: navFade 0.3s ease backwards .3s;
}
#mobile-menu.active i#x{
  display: block;
  transition: display .5s ease;
}
#mobile-menu.active i#sandwich{
  display: none;
  transition: display .5s ease;
}
.logo{
  font-size: 1.5em;
  color: var(--color02);
  font-family: 'Roboto Condensed', sans-serif;
}

/* Configurações do main */

section{
  transform: translateY(-10vh);
  height: calc(100vh - 60px);
  max-height: 640px;
  max-width: 800px;
  min-height: 524px;
  width: calc(100vw - 80px);
  padding: 70px 25px 0 25px;
  animation: fade .7s ease-in;
  animation-fill-mode: forwards;
}

h2{
  margin: 30px 0;
  padding-left: 10px;
  font-size: 2em;
  border-left: var(--color02) 3px solid;
  max-width: 420px;
}

p > i{
  color: var(--color02);
}
.centralizar{
  display: flex; 
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}

p{
  font-size: 1.3em;
  line-height: 27px;
}

p > a,
p > span{
  color: var(--color06);
  text-decoration: none;
}

p > a:hover{
  color: var(--color03); 
}