/* Projetos */

#tela-4 h2{
  margin: 15px 0 5px 0;
}

#tela-4 p{
  padding: 20px 0;
}

#proj-list{
  list-style: none;
  overflow: hidden;
}

.fa-link{
  color: var(--color03);
}

.proj-item{
  font-size: 1.2em;
  border-left: 2px solid var(--color02);
  padding-left: 5px;
  margin: 15px 0;
}

.link-repo{
  text-decoration: none;
  color: var(--color04);
}
.link-repo:hover{
  color: var(--color02);
}
.link-site i{
  color: var(--color02);
}
.link-site i:hover{
  color: var(--color04);
}
.container-projetos{
  flex-direction: row ;

}

#slider{
  margin: 0 auto;
  height: 310px;
  max-width: 460px;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid var(--color03);
}

#slides{
  height: 100%;
  width: 500%;
  height: 310px;
  display: flex;
}

#slides input{
  display: none;
}

.slide{
  width: 460px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img{
  width: 460px;
  height: 100%;
}

#navigation-manual{
  position: absolute;
  width: 460px;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  margin-top: 320px;
}

.manual{
  border: 2px solid var(--color02);
  height: 10px;
  width: 10px;
  cursor: pointer;
  transition: background-color .2s linear;
  border-radius: 50%;
}

.manual:hover{
  border-color: var(--color02);
  background-color: var(--color02);
}

/*Scroller*/

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}


.first{
  transition: margin .5s ease-in-out;
}

/*Indicador de pagina*/

#radio1:checked ~ #navigation-manual #b1{
  background-color: var(--color02);
}
#radio2:checked ~ #navigation-manual #b2{
  background-color: var(--color02);
}
#radio3:checked ~ #navigation-manual #b3{
  background-color: var(--color02);
}
#radio4:checked ~ #navigation-manual #b4{
  background-color: var(--color02);
}
#radio5:checked ~ #navigation-manual #b5{
  background-color: var(--color02);
}
.manual:hover{
  border-color: var(--color02);
  background-color: var(--color02);
}
