/* Habilidades */

#tela-3{
  max-width: 800px;
  align-items: start;
}
#tela-3 h3{
  text-align: start;
  width: 100%;
  margin: 20px 0;
  font-size: 1.7em;
  cursor: pointer;
  max-width: 400px;
  padding: 0 10px;
}
#container-habilidades{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}

.cont-hab{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h3 i{
  color: var(--color02);
}
#cursos,
#conhecimentos{
  width: 100%;
  min-width: 240px;
  padding: 0;
}

.TituloCursos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 380px;
}

.crs{
  min-width: 77.22px;
  font-size: 20px;
}

.percentual{
  color: var(--color02);
  min-width: 50px;
  text-align: end;
}

.cursoName{
  color: var(--color00);
}

.barra{
  max-width: 380px;
  width: 100%;
  height: 10px;
  background-color: var(--color00);
  margin: 0 0 15px 0;
  overflow-x: hidden;
}

.concluido,
#c10,
#c70,
#c30,
#c50,
#c90{
  background-color: var(--color02);
  height: 100%;
}

.concluido{
  width: 100%;
}
#c10{
  width: 20%;
}
#c50{
  width: 50%;
}
#c70{
  width: 70%;
}
#c90{
  width: 90%;
}
article{
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

article > div > span{
  display:block;
}