/* SOBRE MIM */
#tela-2{
  overflow: hidden;
  position: relative;
}

#tela-2 h2{
  margin: 18px 0;
  min-width: 150px;
}

.titulo-tela-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnDonload{
  /* background-color: var(--color02);
  border: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color02);
  outline: 0;
  min-height: 27px;
  padding: 8px;
  font-size: 1.1em;
  border-radius: 4px;
  color: var(--color04);
  cursor: pointer;
  word-wrap: normal;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
}

.btnDonload:hover{
  background-color: var(--color02);
  color:var(--color01);
}
#btnDonload2{
  display: none;
  margin: 30px auto;
  max-width: 170px;
}
.minha-div{
  max-height: 320px;
  max-width: 800px;
  text-align: center;
  visibility: hidden;
}

#minha-imagem{
  transform: translateY(0);
  width: 100%;
  background-color: var(--color02);
  border-radius: 50% 50% 50% 5%;
  margin: 20px auto;
  animation: float 5s linear infinite;
  max-height: 320px;
  max-width: 320px;
}