@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DotGothic16&display=swap');

:root{
  --color00: #828282;
  --color01: #2c2c2c;
  --color02: #FFD921;
  --color03: #ffe354;
  --color04: #ffffff; 
  --color05: #434343;
}

.light-mode:root{
  --color00: #828282;
  --color01: #fafafa;
  --color02: #4727AF;
  --color03: #7452e1;
  --color04: #222; 
  --color05: #bdbdbd;
}
.color-mode-box{
  position: absolute;
  right: 30px;
  top: 65px;
  background-color: var(--color01);
  box-shadow: 0px 0px 1px var(--color00);
  padding: 1px 3px;
  border-radius: 15px;
  z-index: 4;
}
.color-mode-box label{
  position: relative;
}
.color-mode-box i{
  margin: 2.5px;
  z-index: 5;
  color: var(--color04);
  z-index: 100;
}

.ball{
  width: 20px;
  height: 20px;
  background-color:var(--color02);
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: auto;
  transition: transform .3s;
  margin-top: 1px;
}
#toggle-color-mode:checked ~ label > .ball{
  transform: translateX(-25px);
}
#toggle-color-mode{
  display: none;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: var(--color05);
}

::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: var(--color02);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:active{
  background-color: var(--color03);
}

@keyframes rotacao {
  
  from{
    transform:rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
  
}

@keyframes crescer {
  from{
    scale: 0.5;
  }
  to{
    scale: 1;
  }
}

@keyframes fade {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes navFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {
  0%, 100%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-5px);
  }
  75%{
    transform: translateY(5px);
  }
}

*{
  margin: 0;
  padding: 0;
}

body{
  scroll-behavior: smooth;
}

body{
  background-color: var(--color01);
  font-family: 'Chakra Petch', sans-serif;
  color: var(--color04);
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
main{
  position: relative;
}

/* Barra de navegação */

header{
  padding: 0 4vw;
  height: 60px;
  width: 92vw;
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color01);

}

#nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5vw;
}
#inicio{
  color: var(--color02);
}
#x{
  display: none;
  font-size: 1.2em;
  color: var(--color02);
  position: absolute;
}
#sandwich{
  position: absolute;
  color: var(--color04);
}

.logo i{
  color: var(--color02);
  font-size: 1.2em;
}

.nav-items, .logo{
  text-decoration: none;
  color: var(--color04);
  font-weight: 400;
  font-size: 1.1em;
}


#mobile-menu{
  color: var(--color01);
  cursor: pointer;
  display: none;
  font-size: 1.4em;
  align-items: center;
  justify-content: start;
  width: .7em;
  height: 1em;
  margin-right:10vw;
}

#nav-list.active{
  transform: translateX(0px);
}
#nav-list.active li{
  opacity: 1;
  animation: navFade 0.3s ease backwards .3s;
}
#mobile-menu.active i#x{
  display: block;
  transition: display .5s ease;
}
#mobile-menu.active i#sandwich{
  display: none;
  transition: display .5s ease;
}
.logo span{
  font-size: 1.3em;
  color: var(--color02);
}

/* Configurações do main */

section{
  transform: translateY(-10vh);
  height: calc(100vh - 60px);
  max-height: 640px;
  max-width: 800px;
  min-height: 524px;
  width: calc(100vw - 80px);
  padding: 70px 25px 0 25px;
  animation: fade .7s ease-in;
  animation-fill-mode: forwards;
}

h2{
  margin: 30px 0;
  padding-left: 10px;
  font-size: 2em;
  border-left: var(--color02) 3px solid;
  max-width: 420px;
}

p > i{
  color: var(--color02);
}
.centralizar{
  display: flex; 
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}

p{
  font-size: 1.3em;
  line-height: 27px;
}

p > a,
p > span{
  color: var(--color02);
  text-decoration: none;
}

p > a:hover{
  color: var(--color03); 
}


/* Tela de início */

#tela-1{
  padding-top: 50px;
  position: relative;
}

#tela-1 p {
  padding: 30px 0;
}
#TextBox-1{
  padding-top: 40px;
}

h2 > span{
  color: var(--color02);
}

/* SOBRE MIM */
#tela-2 h2{
  margin: 18px 0;
}
.minha-div{
  max-height: 320px;
  max-width: 800px;
  text-align: center;
}

#minha-imagem{
  transform: translateY(0);
  width: 100%;
  background-color: var(--color02);
  border-radius: 50% 50% 50% 5%;
  margin: 20px auto;
  animation: float 5s linear infinite;
  max-height: 320px;
  max-width: 320px;
}

#seta-para-baixo i{
  font-size: 2.7em;
  color: var(--color02);
  animation: float 1.5s linear infinite;
  position: absolute;
  bottom: 11vh;
  left: 47%;
}

/* Habilidades */

#tela-3{
  max-width: 800px;
  align-items: start;
}
#tela-3 h3{
  text-align: start;
  width: 100%;
  margin: 20px 0;
  font-size: 1.7em;
  cursor: pointer;
  max-width: 400px;
  padding: 0 10px;
}
#container-habilidades{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}

.cont-hab{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 i{
  color: var(--color02);
}
#cursos,
#conhecimentos{
  width: 100%;
  min-width: 240px;
  padding: 0 20px;
  margin: -10px;
}

.TituloCursos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.percentual{
  color: var(--color02);
}

.cursoName{
  color: var(--color00);
}

.barra{
  max-width: 400px;
  height: 10px;
  background-color: var(--color00);
  margin-bottom: 20px;
}

.concluido,
#c10,
#c70,
#c30,
#c50,
#c90{
  background-color: var(--color02);
  height: 10px;
}

.concluido{
  width: 100%;
}
#c10{
  width: 10%;
}
#c70{
  width: 70%;
}
#c50{
  width: 50%;
}
#c30{
  width: 30%;
}
#c90{
  width: 90%;
}
article{
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

article > div > span{
  display:block;
}

/* Projetos */

#tela-4 h2{
  margin: 15px 0 5px 0;
}

#tela-4 p{
  padding: 20px 0;
}

#proj-list{
  list-style: none;
}

.fa-link{
  color: var(--color03);
}

.proj-item{
  font-size: 1.2em;
  border-left: 2px solid var(--color02);
  padding-left: 5px;
  margin: 15px 0;
}

.link-repo{
  text-decoration: none;
  color: var(--color04);
}
.link-repo:hover{
  color: var(--color02);
}
.link-site i{
  color: var(--color02);
}
.link-site i:hover{
  color: var(--color04);
}
.container-projetos{
  flex-direction: row ;

}

#slider{
  margin: 0 auto;
  height: 310px;
  max-width: 460px;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid var(--color03);

}

#slides{
  height: 100%;
  width: 500%;
  height: 310px;
  display: flex;
}

#slides input{
  display: none;
}

.slide{
  width: 460px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img{
  width: 460px;
  height: 100%;
}

#navigation-manual{
  position: absolute;
  width: 460px;
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  margin-top: 320px;
}

.manual{
  border: 2px solid var(--color02);
  height: 10px;
  width: 10px;
  cursor: pointer;
  transition: background-color .2s linear;
  border-radius: 50%;
}

.manual:hover{
  border-color: var(--color02);
  background-color: var(--color02);
}

/*Scroller*/

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}


.first{
  transition: margin .5s ease-in-out;
}

/*Indicador de pagina*/

#radio1:checked ~ #navigation-manual #b1{
  background-color: var(--color02);
}

#radio2:checked ~ #navigation-manual #b2{
  background-color: var(--color02);
}

#radio3:checked ~ #navigation-manual #b3{
  background-color: var(--color02);
}
#radio4:checked ~ #navigation-manual #b4{
  background-color: var(--color02);
}
.manual:hover{
  border-color: var(--color02);
  background-color: var(--color02);
}

/* CONTATOS */

.contatos-div{
  columns: 3;
  list-style: none;
  margin-top: 30px;
}
.social-link{
  text-decoration: none;
  color: var(--color04);
}
.socialBox{
  border: 2px solid var(--color02);
  padding: 15px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  transition: all .5s;
}
.socialBox span{
  font-size: 1.2em;
}
.socialBox i{
  font-size: 1.5em;
  color: var(--color02);
}
.BoxIN{
  margin-top: 20px;
}
#instagram:hover .fa-instagram{
  color: white;
}
#youtube:hover .fa-youtube{
  color: white;
}
#linkedin:hover .fa-linkedin{
  color: white;
}
#twitter:hover .fa-twitter{
  color: white;
}
#email:hover .fa-envelope{
  color: var(--color01);
}
#github:hover .fa-github{
  color: white;
}
#instagram:hover{
  color:white ;
  background-image:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border: solid 2px #cc2366;
}
#linkedin:hover{
  color:white ;
  background-color: #0e76a8;
  border: solid 2px #0e76a8;
}
#github:hover{
  color:white ;
  background-color: rgb(13, 13, 13);
  border: solid 2px rgb(14, 14, 14);
}
#twitter:hover{
  color: white;
  background-color: #1DA1F2;
  border: solid 2px #1DA1F2;
}
#youtube:hover{
  color: white;
  background-color:#FF0000;
  border: solid 2px #FF0000;
}
#email:hover{
  font-weight: 600;
  color: var(--color01);
  background-color: var(--color02);
  border: solid 2px var(--color02);
}

#seta-para-cima i{
  font-size: 2.7em;
  color: var(--color02);
  position: absolute;
  bottom: 5vh;
  right: 20px;
  font-weight: normal;
}

/* formulario de email */

form{
  margin-top: 30px;
}
#formulario{
  height: 80vh;
  width: calc(100vw - 60px);
  overflow-y: hidden;
}
#formulario label{
  font-size: 1.1em;
  margin-left: 5px;
}
.e-mail{
  display: flex;
  flex-direction: column;
}
.mensagem{
  margin-top: 20px;
}
.e-mail input{
  height: 30px;
  width: 100%;
  border: 2px solid var(--color02);
  border-radius: 4px;
  background-color: var(--color01);
  color: white;
  font-size: 1.1em;
  outline: 0;
  text-indent: 10px;
  font-family: 'Chakra Petch', sans-serif;

}
.mensagem textarea{
  width: 100%;
  border: 2px solid var(--color02);
  border-radius: 4px;
  background-color: var(--color01);
  color: white;
  font-size: 1.1em;
  outline: 0;
  text-indent: 10px;
  font-family: 'Chakra Petch', sans-serif;
}
#formulario button{
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 3px;
  background-color: var(--color02);
  color: var(--color01);
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: 0;
  border: 2px solid var(--color02);
  font-family: 'Chakra Petch', sans-serif;
  margin: 10px 0;
  cursor: pointer;
}
#formulario button:hover{
  background-color: var(--color03);
}

aside{
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* thanks */

.iconem{
  font-size: 3em;
  color: var(--color02);
}

/* Medias querry */

@media (max-width:880px){
  #slider{
    height: 310px;
    max-width: 320px; 
    margin: 20px; 
  } 
  #slides{
    height: 100%;
  }
  .slide{
    width: 320px;
    height: 100%;
  }  
  .slide img{
    width: 320px;
  }
  
  #navigation-manual{
    width: 320px;
    margin-top: 320px;
  }
}
@media (max-width:850px) {
  #nav-list{
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 4;
    background-color: var(--color01);
    border: 1px solid var(--color02);
    border-top: none;
    
    flex-direction: column;
    height:300px;
    width: 30vw;
    min-width: 150px;
    justify-content: space-around;
    transform: translateX(104%);
    transition: transform .3s ease-in;
  }
  
  #nav-list li{
    opacity: 0;
  }
  
  #mobile-menu{
    display: flex;
  }
  
  #icone-menu{
    margin-left: 10vw;
  }
  
  .nav-items:hover{
    color: var(--color04);
    text-shadow: 1px 1px 5px #0000005c;
  }
  
}
@media (max-width:730px){
  #container-habilidades{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .barra, .TituloCursos, #cursos, #conhecimentos{
    width: 100%;
    max-width: 400px;
  }
  #cursos,
  #conhecimentos{
    width: 100%;
    min-width: 240px;
  }
  #minha-imagem{
    width: 250px;
  }
  .barra{
    margin-bottom: 11px;
    height: 5px;
  }
  .concluido,#c10,#c70,#c30,#c50,#c90{
    background-color: var(--color02);
    height: 5px;
    }
    h2{
      font-size: 1.7em;
      margin:10px 0;
    }
    #tela-2 h2{
      margin: 30px 0;
    }
  }

  @media (max-width:710px){
    #slider{
      display: none;
    }
    #container-projetos{
      margin: auto;
      width: 100%;
    }
  }
@media (max-width:570px){
    #minha-imagem{
      display: none;
    }
    .contatos-div{
      columns: 2;
    }
    .BoxIN{
      margin: 0;
    }
    .BoxIN2{
      margin-top: 15px;
    }
    .color-mode-box{
      right: 10px;
    }
  }
@media (max-width:500px) {
  #mobile-menu{
    margin-right: 55px;
  } 
}

@media (max-width:360px){
  section{
    width: calc(100vw - 40px);
  }
  #tela-4{
    margin-top: 20px;
  }
  #tela-4 h2{
    margin: 45px 0 10px 0;
  }
  .socialBox{
    padding: 5px;
  }
  #tela-4 p{
    padding: 3px 0 ;
  }
  #tela-5 h2{
    margin: 30px 0 20px 0;
  }
  #seta-para-baixo, #seta-para-cima{
    display: none;
  }  
}
@media (max-width:320px) {
  #tela-5{
    margin-bottom: 50px;
  }
}
@media (max-height:620px){
  #seta-para-baixo{
    display: none;
  }
}
/* @media (max-width:390px){
  section{
    width: calc(100vw - 50px);
  }
}

@media (max-width:345px){
  section{
    width: calc(100vw - 30px);
  }
  .socialBox p{
    display: none;
  }
  .socialBox{
    padding: 10px 0;
    margin: 5px 2.5px;
    justify-content: center;
  }
  .contatos-div{
    min-width: none;
    column-gap: 0;
  }
  .contact-item{
    transform: translateX(-0px);
  }
} */