:root {
  --primary-light: #ff6c6c;
  --primary: #a62121;
  --secondary: #111111;
  --primary-dark: #360000;
  --main: #080808;
  --main-smooth: #1f1f1f;
  --main-smooth: #969696;
  --letter: #dddddd;
}
